<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admitted Word</title>
</head>
<body>
未提交作业
<table border="1">
    <th>作业名称</th>
    <th>开始时间</th>
    <th>结束时间</th>
    {% for meta in unsubmitted %}
    <tr>
        <td><a href="s/{{ work.file_name }}">{{ meta.title }}</a></td>
        <td>{{ meta.startTime }}</td>
        <td>{{ meta.endTime }}</td>
    </tr>
    {% endfor %}
</table><br>
已提交作业
<table border="1">
    <th>作业名称</th>
    <th>开始时间</th>
    <th>结束时间</th>
    {% for meta in submitted %}
    <tr>
        <td><a href="s/{{ work.file_name }}">{{ meta.title }}</a></td>
        <td>{{ meta.startTime }}</td>
        <td>{{ meta.endTime }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>