<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png"/>
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>我的团队</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <!-- Bootstrap core CSS     -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet"/>

    <!--  Material Dashboard CSS    -->
    <link href="/static/assets/css/material-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets/css/demo.css" rel="stylesheet"/>


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet'
          type='text/css'>
</head>

<body>
<div class="wrapper">

    <div class="sidebar" data-color="blue" data-image="/static/assets/img/sidebar-1.jpg">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
        -->

        <div class="logo">
            <a href="#" class="simple-text">
                学生
            </a>
        </div>

        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="resources">
                        <i class="material-icons">dashboard</i>
                        <p>课程管理</p>
                    </a>
                </li>
                <li>
                    <a href="workpage">
                        <i class="material-icons">content_copy</i>
                        <p>作业管理</p>
                    </a>
                </li>
                <li class="active">
                    <a href="teampage">
                        <i class="material-icons">face</i>
                        <p>团队管理</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="teampage">返回</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">person</i>
                                <p class="hidden-lg hidden-md">Profile</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'app:profile' %}">个人中心</a></li>
                                <li><a href="{% url 'app:logout' %}">注销登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% if team.status != 'passed' %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="green">
                                    <h4 class="title">{{ team.name }}的当前组队情况</h4>
                                    <p class="category">组建中的团队</p>
                                </div>
                                <div class="card-content">
                                    <h3 class="category">团队状态：{{ team.status }}</h3>
                                    {% if team.status == 'rejected' %}
                                        <h4 class="category text-warning">被驳回，请解散团队后重新发起或加入团队</h4>
                                    {% elif team.status == 'unsubmitted' %}
                                        <h4 class="category text-warning">未提交，请负责人向教师提交申请</h4>
                                    {% elif team.status == 'auditing' %}
                                        <h4 class="category text-warning">审核中，教师正在审核申请</h4>
                                    {% elif team.status == 'passed' %}
                                        <h4 class="category text-warning">组队成功！你们队伍的成员如下：</h4>
                                    {% else %}
                                    {% endif %}

                                    {#                                <h2 class="category"></h2>#}

                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <th>学号</th>
                                        <th>姓名</th>
                                        <th>职务</th>
                                        {% if user_role.role == 'leader' %}
                                            <th>状态</th>
                                        {% endif %}
                                        </thead>
                                        <tbody>
                                        {% for member in member_list %}
                                            <tr>
                                                <td>{{ member.user.username }}</td>
                                                <td>{{ member.user.name }}</td>
                                                {% if user_role.role == 'leader' %}
                                                    {% if member.role == 'newMoe' %}
                                                        <td>---</td>
                                                        <td>
                                                            <a href="process_apply?id={{ member.id }}&res=y">
                                                                <button class="btn btn-success" href="process_apply">同意
                                                                </button>
                                                            </a>
                                                            <a href="process_apply?id={{ member.id }}&res=n">
                                                                <button class="btn btn-success" href="process_apply">拒绝
                                                                </button>
                                                            </a>
                                                        </td>
                                                    {% else %}
                                                        <td>{{ member.get_role_display }}</td>
                                                        <td>已同意</td>
                                                    {% endif %}
                                                {% else %}
                                                    <td>{{ member.get_role_display }}</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="tim-typo">
                                        {% if user_role.role == 'leader' %}
                                            {% if team.status == 'incomplete' %}
                                                <a href="dismiss_team">
                                                    <button type="" class="btn btn-success pull-right">
                                                        解散团队
                                                    </button>
                                                </a>
                                                <a href="finish_team_bulid">
                                                    <button class="btn btn-success pull-right">
                                                        结束组队
                                                    </button>
                                                </a>
                                                <a type="" class="btn btn-success pull-right" disabled="disabled">
                                                    向老师提交
                                                </a>


                                            {% elif team.status == 'unsubmitted' %}

                                                <a href="dismiss_team">
                                                    <button type="" class="btn btn-success pull-right">解散团队</button>
                                                </a>
                                                <button class="btn btn-success pull-right" disabled="disabled">
                                                    结束组队
                                                </button>
                                                <a href="submit_team">
                                                    <button type="" class="btn btn-success pull-right">向老师提交</button>
                                                </a>

                                            {% elif team.status == 'auditing' %}
                                                <button type="" class="btn btn-success pull-right" disabled="disabled">
                                                    解散团队
                                                </button>
                                                <button class="btn btn-success pull-right" disabled="disabled">
                                                    结束组队
                                                </button>
                                                <button type="" class="btn btn-success pull-right" disabled="disabled">
                                                    向老师提交
                                                </button>

                                            {% elif team.status == 'rejected' %}
                                                <a href="dismiss_team">
                                                    <button type="" class="btn btn-success pull-right">
                                                        解散团队
                                                    </button>
                                                </a>
                                                <button class="btn btn-success pull-right" disabled="disabled">
                                                    结束组队
                                                </button>
                                                <button type="" class="btn btn-success pull-right" disabled="disabled">
                                                    向老师提交
                                                </button>

                                            {% elif team.status == 'passed' %}

                                                <button class="btn btn-success pull-right" disabled="disabled">
                                                    结束组队
                                                </button>
                                                <button type="" class="btn btn-success pull-right" disabled="disabled">
                                                    向老师提交
                                                </button>
                                                <a href="dismiss_team">
                                                    <button type="" class="btn btn-success pull-right"
                                                            disabled="disabled">
                                                        解散团队
                                                    </button>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            {% if user_role.role == 'leader' %}
                                <div class="card">
                                    <div class="card-header" data-background-color="green">
                                        <h4 class="title">为 “{{ team.name }}” 团队选择负责人</h4>
                                    </div>
                                    <form action="" method="GET" enctype="multipart/form-data">
                                        <div class="card-content">
                                            <div class="tim-typo">
                                                <span class="tim-note">选择团队负责人</span>
                                                <div class="btn-group">
                                                    <select name="user">
                                                        <option value="0">更换负责人</option>
                                                        {% for member in member_list %}
                                                            {% if member.role == 'member' %}
                                                                <option value="{{ member.user_id }}">{{ member.user.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    {% csrf_token %}

                                                </div>

                                            </div>
                                            <div class="tim-typo">
                                                <button type="submit" class="btn btn-success pull-right">确认</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header" data-background-color="orange">
                                <h4 class="title">我的团队</h4>
                                <p class="category">团队成员贡献度</p>
                            </div>
                            <div>
                                <div class="card-content">
                                    <h4>团队创建成功！请设置团队成员贡献度</h4>
                                </div>
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table table-hover">
                                    <tr>
                                        <th>姓名</th>
                                        <th>角色</th>
                                        <th>贡献度</th>
                                    </tr>
                                    {% for member in member_list %}
                                        <tr>
                                            <td>{{ member.user }}</td>
                                            <td>{{ member.role }}</td>
                                            <td>{{ member.contribution }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>

                            {% if user_role.role == 'leader' %}
                                <div class="card-content table-responsive">
                                    <p>请上传贡献表
                                    <form method="Post" action="" enctype="multipart/form-data">

                                        {{ form.file }}

                                        {% csrf_token %}
                                        <input type="submit" value="点我上传"/>
                                    </form>
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    URANUS@2017
                </p>
            </div>
        </footer>
        </div>
    </div>
</body>

<!--   Core JS Files   -->
<script src="/static/assets/js/jquery-3.1.0.min.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/assets/js/material.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="/static/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/static/assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Material Dashboard javascript methods -->
<script src="/static/assets/js/material-dashboard.js"></script>

<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/demo.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

</html>
