.idea/
*.pyc
*/migrations/*
*__pycache__*
*.DS_Store
uploads/file/*

templates/teacher/pastcourse_teacher.html

templates/teacher/task_teacher.html

templates/teacher/team_teacher.html

templates/teacher/course_teacher.html
