<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程信息</title>
</head>
<body>
    <label>{{ teacher.username }}</label><br/>

    <label>学期:</label>{{ course.term.year }} {{ course.term.semester }}<br/>
    <label>课程名称:</label>{{ course.name }}<br/>
    <label>课程要求/其他说明:</label>{{ course.info }}<br/>
    <label>课程大纲:</label>{{ course.syllabus }}<br/>
    <label>教室:</label>{{ course.classroom }}<br/>
    <label>状态:</label>{{ course.status }}<br/>
    <label>开课时间:</label>{{ course.startTime }} - {{ course.endTime }}<br/>


    <button onclick="location.href='{% url 'teacher:edit_course'  course.id %}'" type="button">编辑课程信息</button><br/>

    <table title="选课学生">
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>性别</th>
        </tr>
        {% for student in students %}
            <tr>
                <td>student.username</td>
                <td>student.name</td>
                <td>student.gender</td>
            </tr>
        {% endfor %}
    </table>

{#    <form action="{% url 'teacher:import_student' %}" enctype="multipart/form-data" method="post">#}
{#        {{ import_student_form }}#}
{#        <input type="hidden" value="{{ course.id }}" name="course_id" />#}
{#        <button type="submit">导入课程学生信息</button>#}
{#    </form>#}
</body>
</html>