<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建课程作业</title>
</head>
<body>
    <label>课程名称: {{ course.name }}</label><br/>
    <form action="{% url 'teacher:create_homework' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ homework_form.as_p }}
        <input type="hidden" name="course_id" value="{{ course.id }}">
        <input type="submit" value="确认"/>
    </form>
    {% if error_message %}
        <label>{{ error_message }}</label>
    {% endif %}
</body>
</html>