<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>member score list</title>
</head>
<body>

    <table>
        <tr>
            <td>学号</td>
            <td>姓名</td>
            <td>得分</td>
        </tr>
        {% for stu in stu_list %}
            <tr>
            <td>{{ stu.username }}</td>
            <td>{{ stu.name }}</td>
                {% if stu in member_score_dict.keys %}
                    {% score=member_score_dict[stu] %}
                <td>{{ score }}</td>
                {% else %}
                <td>0</td>
                {% endif %}
            </tr>
        {% endfor%}
    </table>

    <a href="{% url 'teacher:download_stu_score_list' %}">下载得分表</a>
</body>
</html>