<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程资源</title>
</head>
<body>
<table>
    <tr>
        <th>类型</th>
        <th>资源名称</th>
        <th>上传时间</th>
        <th>删除资源</th>
    </tr>
    {% for file in files %}
        <tr>
            <td>{{ file.type }}</td>
            <td>
                <a href="{{ file.file.url }}">{{ file.file.name }}</a>
            </td>
            <td>{{ file.time }}</td>
            <td>
                <a href="{% url 'teacher:delete_file' %}?file_id={{ file.id }}">删除</a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>