<!DOCTYPE html>
<html lang="en">
<head>
    {% load app_tags %}
    <meta charset="UTF-8">
    <title>member score list</title>
</head>
<body>

    <table>
        <tr>
            <td>学号</td>
            <td>姓名</td>
            <td>得分</td>
        </tr>
        {% for stu in stu_list %}
            <tr>
            <td>{{ stu.username }}</td>
            <td>{{ stu.name }}</td>
                <td>{{ stu_score_dict|key:stu }}</td>
            </tr>
        {% endfor%}
    </table>

    <a href="{% url 'teacher:download_stu_score_list' %}">下载得分表</a>
</body>
</html>