<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Teacher</title>
</head>
<body>
<label>{{ teacher.username }}</label>
    <table>
        <tr>
            <th>学期</th>
            <th>课程名称</th>
            <th>课程说明</th>
            <th>课程大纲</th>
            <th>教室</th>
            <th>学分</th>
            <th>课程状态</th>
            <th>时间</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.term.year }} {{ course.term.semester }}</td>
                <td><a href="{% url 'teacher:course_info' %}?course_id={{ course.id }}">{{ course.name }}</a> </td>
                <td>{{ course.info }}</td>
                <td>{{ course.syllabus}}</td>
                <td>{{ course.classroom }}</td>
                <td>{{ course.credit }}</td>
                <td>{{ course.status }}</td>
                <td>{{ course.startTime }} - {{ course.endTime }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>