<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生团队信息</title>
</head>
<body>
    <label>团队信息</label><br/>
    <table>
        <tr>
            <th>团队编号</th>
            <th>团队名称</th>
            <th>组队状态</th>
            <th>团队成员信息</th>
        </tr>
        {% for team in teams %}
            <tr>
                <td>{{ team.serialNum }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.get_status_display }}</td>
                <td>
                    <a href="{% url 'teacher:team_members' %}?team_id={{ team.id }}">
                        <button>团队成员</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <label>尚未组队学生信息</label><br/>
    <table>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>调整</th>
        </tr>

        {% for student in unteamed_students %}
            <tr>
                <td>{{ student.username }}</td>
                <td>{{ studnet.name }}</td>
                <td>{{ student.get_male_display }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>