<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理团队申请</title>
</head>
<body>
    <label>申请中的团队:</label><br/>
    <table>
        <tr>
            <th>团队编号</th>
            <th>团队名称</th>
            <th>团队成员</th>
            <th>申请管理</th>
        </tr>
        {% for team in teams %}
            <tr>
                <td>{{ team.serialNum }}</td>
                <td>{{ team.name }}</td>
                <td>
                    <a href="{% url 'teacher:team_members' %}?team_id={{ team.id }}">
                                                <button>团队成员</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'teacher:apply_manage' %}?team_id={{ team.id }}">
                                                        <button>申请管理</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>