<!DOCTYPE html>
<html lang="en">
<head>
    {% load app_tags %}
    <meta charset="UTF-8">
    <title>score list of gtoups</title>
</head>
<body>
    <table>
        <tr>
            <td>团队编号</td>
            <td>团队名称</td>
            <td>团队得分</td>
        </tr>
        {% for i in num_list %}
            {% with team=team_list|index:i %}
            <tr>
                <td>{{ team.serialNum }}</td>
                <td>{{ team.name }}</td>
                <td>{{ score_list|index:i }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
    </table>

    <a href="{% url 'teacher:download_tean_score_list' %}">下载得分表</a>
</body>
</html>