<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" >
        <select name="term">{{ form.term }}
            {% for term in terms %}
                <option value="{{ term.id }}">
                    {% if term.semester == 'spring' %}
                        {{ term.year }} 春季学期
                    {% else %}
                        {{ term.year }} 秋季学期
                    {% endif %}
                </option>
            {% endfor %}
        </select>
        {% csrf_token %}
        {{ form}}
        <input type="submit" value="Submit" />
    </form>
</body>
</html>