<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置团队贡献度</title>
</head>
<body>
<table title={{ team.name }}>
    <tr>
        <th>姓名</th>
        <th>角色</th>
        <th>贡献度</th>
    </tr>
    {% for member in member_list %}
        <tr>
            <td>{{ member.user }}</td>
            <td>{{ member.role }}</td>
            <td>{{ member.contribution }}</td>
        </tr>
    {% endfor %}
</table>
{% extends 'base.html' %}
{% load customer_tags %}

{% block page-header %}
客户详细信息
{% endblock %}

{% block page-content %}
    <form class="form-horizontal" action="" method="post"> {% csrf_token %}   ＃添加一个form表单，用于向后端提交数据
        {# 循环每个字段 #}
        {% for students in member_list %}
            <div class="form-group">
                {# 字段名称 #}
                {# 如果字段为必填,标签前面加*提示 #}
                {% if field.field.required %}
                    <label class="col-sm-2 control-label">*{{ field.label }}</label>
                {# 如果字段非必填 #}
                {% else %}
                    {# 字体变细 #}
                    <label class="col-sm-2 control-label " style="font-weight:normal">{{ field.label }}</label>
                {% endif %}
                <div class="col-sm-10">
                    {# 字段内容 #}
                    {{ field }}
                    {# 如果存在错误 #}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <ul>
                                <li style="color: lightblue">{{ error }}</li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {# 添加提交按钮 #}
        <input class="btn btn-success pull-right" type="submit" value="Submit">
    </form>
{% endblock %}

</body>
</html>